USE [master]
GO
/****** Object:  Database [RentACarDB]    Script Date: 13.02.2026 12:10:02 ******/
CREATE DATABASE [RentACarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentACarDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RentACarDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentACarDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RentACarDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentACarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentACarDB]
GO
/****** Object:  Table [dbo].[tbl_Araclar]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Araclar](
	[AracID] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [nvarchar](15) NULL,
	[MarkaModel] [nvarchar](50) NULL,
	[GunlukUcret] [decimal](18, 2) NULL,
	[Durum] [int] NULL,
 CONSTRAINT [PK__tbl_Arac__1E09A83039B333CB] PRIMARY KEY CLUSTERED 
(
	[AracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Durum]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Durum](
	[durumID] [int] IDENTITY(1,1) NOT NULL,
	[durumAd] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Durum] PRIMARY KEY CLUSTERED 
(
	[durumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Kiralamalar]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Kiralamalar](
	[KiralamaID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NULL,
	[AracID] [int] NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[ToplamTutar] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[KiralamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Login]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdi] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Musteriler]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[TCNo] [nvarchar](11) NULL,
	[Telefon] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Araclar] ON 

INSERT [dbo].[tbl_Araclar] ([AracID], [Plaka], [MarkaModel], [GunlukUcret], [Durum]) VALUES (3, N'34ABC123', N'FiatEgea', CAST(1500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tbl_Araclar] ([AracID], [Plaka], [MarkaModel], [GunlukUcret], [Durum]) VALUES (4, N'34IST1453', N'Renault Clio', CAST(1200.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[tbl_Araclar] ([AracID], [Plaka], [MarkaModel], [GunlukUcret], [Durum]) VALUES (5, N'06ANK0606', N'Volkswagen Passat', CAST(2500.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[tbl_Araclar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Durum] ON 

INSERT [dbo].[tbl_Durum] ([durumID], [durumAd]) VALUES (1, N'Kirada')
INSERT [dbo].[tbl_Durum] ([durumID], [durumAd]) VALUES (2, N'Boşta')
SET IDENTITY_INSERT [dbo].[tbl_Durum] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Kiralamalar] ON 

INSERT [dbo].[tbl_Kiralamalar] ([KiralamaID], [MusteriID], [AracID], [BaslangicTarihi], [BitisTarihi], [ToplamTutar]) VALUES (2, 7, 6, CAST(N'2026-02-12T00:00:00.000' AS DateTime), CAST(N'2026-02-13T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[tbl_Kiralamalar] ([KiralamaID], [MusteriID], [AracID], [BaslangicTarihi], [BitisTarihi], [ToplamTutar]) VALUES (3, 8, 5, CAST(N'2026-02-12T00:00:00.000' AS DateTime), CAST(N'2026-02-15T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[tbl_Kiralamalar] ([KiralamaID], [MusteriID], [AracID], [BaslangicTarihi], [BitisTarihi], [ToplamTutar]) VALUES (4, 9, 8, CAST(N'2026-02-12T00:00:00.000' AS DateTime), CAST(N'2026-02-28T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tbl_Kiralamalar] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Login] ON 

INSERT [dbo].[tbl_Login] ([id], [kullaniciAdi], [sifre]) VALUES (1, N'emirhan', N'123')
SET IDENTITY_INSERT [dbo].[tbl_Login] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Musteriler] ON 

INSERT [dbo].[tbl_Musteriler] ([MusteriID], [AdSoyad], [TCNo], [Telefon]) VALUES (1, N'Test Kullanıcısı', N'12345678901', N'05550000000')
INSERT [dbo].[tbl_Musteriler] ([MusteriID], [AdSoyad], [TCNo], [Telefon]) VALUES (2, N'Ahmet Yılmaz', N'11122233344', N'05321112233')
INSERT [dbo].[tbl_Musteriler] ([MusteriID], [AdSoyad], [TCNo], [Telefon]) VALUES (3, N'Ayşe Demir', N'22233344455', N'05442223344')
SET IDENTITY_INSERT [dbo].[tbl_Musteriler] OFF
GO
ALTER TABLE [dbo].[tbl_Araclar] ADD  CONSTRAINT [DF__tbl_Aracl__Durum__59FA5E80]  DEFAULT ('Boşta') FOR [Durum]
GO
ALTER TABLE [dbo].[tbl_Araclar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Araclar_tbl_Durum] FOREIGN KEY([Durum])
REFERENCES [dbo].[tbl_Durum] ([durumID])
GO
ALTER TABLE [dbo].[tbl_Araclar] CHECK CONSTRAINT [FK_tbl_Araclar_tbl_Durum]
GO
ALTER TABLE [dbo].[tbl_Kiralamalar]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Kiral__AracI__5FB337D6] FOREIGN KEY([AracID])
REFERENCES [dbo].[tbl_Araclar] ([AracID])
GO
ALTER TABLE [dbo].[tbl_Kiralamalar] CHECK CONSTRAINT [FK__tbl_Kiral__AracI__5FB337D6]
GO
ALTER TABLE [dbo].[tbl_Kiralamalar]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[tbl_Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[tbl_Kiralamalar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Kiralamalar_tbl_Araclar] FOREIGN KEY([AracID])
REFERENCES [dbo].[tbl_Araclar] ([AracID])
GO
ALTER TABLE [dbo].[tbl_Kiralamalar] CHECK CONSTRAINT [FK_tbl_Kiralamalar_tbl_Araclar]
GO
/****** Object:  StoredProcedure [dbo].[ArabaListele]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ArabaListele]
AS
BEGIN
    SELECT * FROM tbl_Araclar ORDER BY GunlukUcret ASC
END
GO
/****** Object:  StoredProcedure [dbo].[AracKirala]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. İŞLEM: Kiralama işlemini yapan prosedür (Prosedür en başta olmalı kuralı GO ile sağlandı)
CREATE   PROCEDURE [dbo].[AracKirala]
    @adSoyad nvarchar(50),
    @tcNo char(11),
    @tel nvarchar(15),
    @aracID int,
    @baslangic date,
    @bitis date,
    @tutar decimal(18,2)
AS
BEGIN
    -- Müşteriyi ekle
    INSERT INTO tbl_Musteriler (AdSoyad, TCNo, Telefon) 
    VALUES (@adSoyad, @tcNo, @tel);
    
    DECLARE @yeniMusteriID int = SCOPE_IDENTITY();

    -- Kiralama kaydını oluştur
    INSERT INTO tbl_Kiralamalar (MusteriID, AracID, BaslangicTarihi, BitisTarihi, ToplamTutar)
    VALUES (@yeniMusteriID, @aracID, @baslangic, @bitis, @tutar);

    -- Aracın durumunu 'Kirada' (1) yap
    UPDATE tbl_Araclar SET Durum = 1 WHERE AracID = @aracID;
END

GO
/****** Object:  StoredProcedure [dbo].[girisYap]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[girisYap]
    @kullaniciAdi varchar(50), -- C# tarafındaki @kullaniciAdi ile eşleşmeli
    @sifre varchar(50)
AS
BEGIN
    -- Tablo isminin 'tbl_Login' olduğundan emin ol
    SELECT * FROM tbl_Login 
    WHERE kullaniciAdi = @kullaniciAdi AND sifre = @sifre
END
GO
/****** Object:  StoredProcedure [dbo].[guncelle]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Mevcut prosedürü silip Rent A Car yapına uygun olanı oluşturuyoruz
CREATE   PROCEDURE [dbo].[guncelle]
    @kiraID int,
    @ad nvarchar(50),
    @tc char(11),
    @tel nvarchar(15),
    @aracID int,
    @baslangic date,
    @bitis date
AS
BEGIN
    -- 1. Kiralama ID üzerinden MusteriID'yi buluyoruz
    DECLARE @mID int;
    SELECT @mID = MusteriID FROM tbl_Kiralamalar WHERE KiralamaID = @kiraID;

    -- 2. Müşteri bilgilerini güncelle
    UPDATE tbl_Musteriler 
    SET AdSoyad = @ad, TCNo = @tc, Telefon = @tel 
    WHERE MusteriID = @mID;

    -- 3. Kiralama tarihlerini ve aracı güncelle
    UPDATE tbl_Kiralamalar 
    SET AracID = @aracID, BaslangicTarihi = @baslangic, BitisTarihi = @bitis 
    WHERE KiralamaID = @kiraID;
END
GO
/****** Object:  StoredProcedure [dbo].[KullaniciEkle]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[KullaniciEkle] 
    @kullaniciAdi varchar(50),
    @sifre varchar(50)
AS
BEGIN
    INSERT INTO tbl_Login(kullaniciAdi, sifre) 
    VALUES (@kullaniciAdi, @sifre)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GirisYap]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GirisYap]
    @kullaniciAdi varchar(50),
    @sifre varchar(50)
AS
BEGIN
    SELECT * FROM tbl_Login WHERE kullaniciAdi = @kullaniciAdi AND sifre = @sifre
END

GO
/****** Object:  StoredProcedure [dbo].[sp_KayitOl]    Script Date: 13.02.2026 12:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_KayitOl]
    @kullaniciAdi varchar(50),
    @sifre varchar(50)
AS
BEGIN
    INSERT INTO tbl_Login (kullaniciAdi, sifre) VALUES (@kullaniciAdi, @sifre)
END

GO
USE [master]
GO
